.button_info {
  display: inline-block;
  padding: 0.2em; margin: 0.2em;
  border-radius: 5px;
  text-decoration: none;
  color: black;

  background-image: linear-gradient(rgb(0,100,255), rgb(0,100,255)), linear-gradient(silver, silver);
  background-size: 0 100%, auto;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .2s ease-out;
}
.button_info:hover {
  background-color: rgb(255, 0, 255);
  background-size: 100% 100%, auto;
}