<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="/static/styles/base.css" rel="stylesheet">
</head>
<body class="simple_linear">
    <div>
        <h1>
            <a class="highest_text" href="/">Home</a>
            <a class="highest_text" href="/register">Register</a>
            <a class="highest_text" href="/login">Login</a>
            <a class="highest_text" href="/logout">Log out</a>
        </h1>
    </div>
    <hr>
    {% block content %} {% endblock %}
</body>
</html>