{% extends 'base.html' %}
entered=entered

{% block content %}
<link href="/static/styles/simple_text.css" rel="stylesheet">
<link href="/static/styles/button_info.css" rel="stylesheet">

<h1 class="simple_text">{{name}}</h1>
<img src={{ image }}>
<h2 class="simple_text">Genre: {{genre}}</h2>
<h2 class="simple_text">Description: <br>{{description}}</h2>
<h2 class="simple_text">Author: {{poster}}</h2>
<h2 class="simple_text">Date: {{date.strftime('%Y')}}</h2>
<h2 class="simple_text">Country: {{country}}</h2>
<h2><a class="button_info" href="{{url}}">Link</a></h2>

{% endblock %}